html
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title User
  body
    h1 Users
    form(action='user', method='POST', accept-charset='utf-8')
        label(for='nome') User:
        input#nome.form-control(type='text', name='nome', autocomplete='off', value='')
        label(for='senha', style='margin-left: 20px',) Senha:
        input#senha.form-control(type='password', name='senha', autocomplete='off', value='')
        input(type='hidden', name='method', value='inserir')
        input(type='submit', style='margin-left: 20px', value='Login')
    ul
      | {{#each users}}
      li
        | {{nome}}   